@use "./colors" as colors;

//CLOCK
#clockFieldset {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border: 3px solid colors.$color-yellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    legend {
        text-align: center;
        color: colors.$color-yellow;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    #clock {
        flex: 1;
        h2 {
            color: #fff;
            text-align: center;
            font-size: 8.5rem;
            line-height: 0.9;
        }
        h3 {
            color: #fff;
            font-size: 2rem;
            text-align: center;
            font-weight: 300;
            color: colors.$color-yellow;
            text-transform: uppercase;
        }
    }
}
