@use "./colors" as colors;

#menu {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    border: 3px solid colors.$color-yellow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 20px;

    legend {
        text-align: center;
        color: colors.$color-yellow;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    hgroup {
        h1 {
            color: colors.$color-white;
            font-size: 6rem;
            text-align: center;
            line-height: 0.9;
            font-weight: 800;
        }

        h2 {
            color: colors.$color-yellow;
            font-size: 3rem;
            text-align: center;
            line-height: 0.9;
            font-weight: 700;
        }
    }

    #menu-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: colors.$color-white;
            gap: 10px;
            padding: 5px;
            border-radius: 2px;

            h3 {
                text-transform: capitalize;
                font-size: 2rem;

                &:last-child {
                    text-align: end;
                    text-overflow: ellipsis;
                    max-width: 250px;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}
